:host{
  --o-content-placeholders-block-width : 100%;
  --o-content-placeholders-block-height : 15px;
  --o-content-placeholder-block-margin : 5px;
  --o-content-placeholder-block-color-primary : #ebebeb;
  --o-content-placeholder-block-color-secondary : #5b5b5b;
}

.o-content-placeholder-block {
  pointer-events: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  margin:  var(--o-content-placeholder-block-margin);
  height: var( --o-content-placeholders-block-height);
  width: var(--o-content-placeholders-block-width);
  background-color : var(--o-content-placeholder-block-color-primary);
  display: block;
 }

.o-content-placeholder-block-animate {
  position: absolute;
  display: block;
  height: inherit;
  left: 0;
  top: 0;
  width:70%;
  will-change: transform;
  animation: animatePlaceholder 1.4s linear infinite;
  background: linear-gradient(to right, rgba(172, 172, 172, 0) 0%,rgba(219,219,219,0.2) 50%,rgba(233, 233, 233, 0.2) 100%);
}

.o-content-placeholder-block-rounded {
  border-radius: 0.5em;
}

@keyframes animatePlaceholder {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(300%);
  }
}
