:host{

  --o-content-placeholders-img-size : 55px;
  --o-content-placeholder-img-margin : 5px;
  --o-content-placeholder-img-color-primary : #ebebeb;
  --o-content-placeholder-img-color-secundary : #5b5b5b;

  .o-content-placeholder-img {
    pointer-events: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    margin:  var(--o-content-placeholder-img-margin);
    height: var(--o-content-placeholders-img-size);
    width: var(--o-content-placeholders-img-size);
    background-color : var(--o-content-placeholder-img-color-primary);
    display: block;
   }

  .o-content-placeholder-img-animate {
    position: absolute;
    display: block;
    height: inherit;
    left: 0;
    top: 0;
    width:70%;
    will-change: transform;
    animation: animatePlaceholder 1.2s linear infinite;
    background: linear-gradient(to right, rgba(15,15,15,0) 0%,rgba(219,219,219,0.5) 50%,rgba(255,255,255,0) 100%);
  }

  .o-content-placeholder-img-circle {
    border-radius:  50%;
  }


  @keyframes animatePlaceholder {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(300%);
    }
  }
}
